.container {
  width: 50%;
  max-width: 500px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.getHTML-btn {
  /* margin: 10px; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition-duration: 200ms;
}

.getHTML-btn:hover {
  background-color: #eee;
}

.html-content {
  font-family: sans-serif;
}